In [1]:
#Importando biblioteca para trabalhar
import pandas as pd
import numpy as np 

mes = 'ja'
df_mes = pd.read_csv(mes + '-2018.csv', encoding='latin-1', decimal=',')
#df_mes = df_mes.drop(['Unnamed: 7'], axis=1)
df_mes.head()

,Nome,Matrícula,Tipo Servidor,Cargo,Salário Base,Salário Vantagens,Salário Gratificação
0,ABIGAIL DONATA ALVES,1951,Cargo Efetivo/ Estatutário,AGENTE COMUNITÁRIO DE SAÚDE,"R$ 1.014,00","R$ 304,20","R$ 0,00"
1,ABIGAIL OLIVEIRA DOS SANTOS,9929,Cargo Efetivo/ Estatutário,AGENTE DE LIMPEZA,"R$ 954,00","R$ 47,70","R$ 0,00"
2,ABRAHAO SILVA MAIA,8063,Cargo Efetivo/ Estatutário,GUARDA MUNICIPAL,"R$ 995,00","R$ 298,50","R$ 467,65"
3,ADAIL SANTOS DE JESUS,510,Cargo Efetivo/ Estatutário,AGENTE DE SERVIÇO,"R$ 0,00","R$ 390,42","R$ 0,00"
4,ADAIL SANTOS DE JESUS,510,Cargo Efetivo/ Estatutário,AGENTE DE SERVIÇO,"R$ 954,00","R$ 286,20","R$ 0,00"

In [2]:


df_mes['Salário Base'] = df_mes['Salário Base'].apply(lambda x: x.split('R$')[1])
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].apply(lambda x: x.split('R$')[1])
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].apply(lambda x: x.split('R$')[1])

df_mes['Salário Base'] = df_mes['Salário Base'].apply(lambda x: x.split()[0].replace('.', ''))
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].apply(lambda x: x.split()[0].replace('.', ''))
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].apply(lambda x: x.split()[0].replace('.', ''))

df_mes['Salário Base'] = df_mes['Salário Base'].str.replace(',', '.').astype(float)
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].str.replace(',', '.').astype(float)
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].str.replace(',', '.').astype(float)

lista_colunas_sum = ['Salário Base', 'Salário Vantagens', 'Salário Gratificação']
df_mes['Valor Recebido'] = df_mes.loc[:,lista_colunas_sum].sum(axis=1)
df_mes.head()

,Nome,Matrícula,Tipo Servidor,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABIGAIL DONATA ALVES,1951,Cargo Efetivo/ Estatutário,AGENTE COMUNITÁRIO DE SAÚDE,1014.0,304.20,0.00,1318.20
1,ABIGAIL OLIVEIRA DOS SANTOS,9929,Cargo Efetivo/ Estatutário,AGENTE DE LIMPEZA,954.0,47.70,0.00,1001.70
2,ABRAHAO SILVA MAIA,8063,Cargo Efetivo/ Estatutário,GUARDA MUNICIPAL,995.0,298.50,467.65,1761.15
3,ADAIL SANTOS DE JESUS,510,Cargo Efetivo/ Estatutário,AGENTE DE SERVIÇO,0.0,390.42,0.00,390.42
4,ADAIL SANTOS DE JESUS,510,Cargo Efetivo/ Estatutário,AGENTE DE SERVIÇO,954.0,286.20,0.00,1240.20

In [3]:
df_mes.insert(loc=3, 
             column = 'Mês',
             value = 'janeiro')

df_mes.head()

,Nome,Matrícula,Tipo Servidor,Mês,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABIGAIL DONATA ALVES,1951,Cargo Efetivo/ Estatutário,janeiro,AGENTE COMUNITÁRIO DE SAÚDE,1014.0,304.20,0.00,1318.20
1,ABIGAIL OLIVEIRA DOS SANTOS,9929,Cargo Efetivo/ Estatutário,janeiro,AGENTE DE LIMPEZA,954.0,47.70,0.00,1001.70
2,ABRAHAO SILVA MAIA,8063,Cargo Efetivo/ Estatutário,janeiro,GUARDA MUNICIPAL,995.0,298.50,467.65,1761.15
3,ADAIL SANTOS DE JESUS,510,Cargo Efetivo/ Estatutário,janeiro,AGENTE DE SERVIÇO,0.0,390.42,0.00,390.42
4,ADAIL SANTOS DE JESUS,510,Cargo Efetivo/ Estatutário,janeiro,AGENTE DE SERVIÇO,954.0,286.20,0.00,1240.20

In [4]:
df_mes.insert(loc=4, 
             column = 'Ano',
             value = '2018')

df_mes.head()

,Nome,Matrícula,Tipo Servidor,Mês,Ano,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABIGAIL DONATA ALVES,1951,Cargo Efetivo/ Estatutário,janeiro,2018,AGENTE COMUNITÁRIO DE SAÚDE,1014.0,304.20,0.00,1318.20
1,ABIGAIL OLIVEIRA DOS SANTOS,9929,Cargo Efetivo/ Estatutário,janeiro,2018,AGENTE DE LIMPEZA,954.0,47.70,0.00,1001.70
2,ABRAHAO SILVA MAIA,8063,Cargo Efetivo/ Estatutário,janeiro,2018,GUARDA MUNICIPAL,995.0,298.50,467.65,1761.15
3,ADAIL SANTOS DE JESUS,510,Cargo Efetivo/ Estatutário,janeiro,2018,AGENTE DE SERVIÇO,0.0,390.42,0.00,390.42
4,ADAIL SANTOS DE JESUS,510,Cargo Efetivo/ Estatutário,janeiro,2018,AGENTE DE SERVIÇO,954.0,286.20,0.00,1240.20

In [5]:
df_mes.to_csv('dados-limpos/' + mes + '-2018-limpo.csv', index=False, encoding='utf-8')

In [6]:
df = pd.read_csv('dados-limpos/' + mes + '-2018-limpo.csv')
df.head()

,Nome,Matrícula,Tipo Servidor,Mês,Ano,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABIGAIL DONATA ALVES,1951,Cargo Efetivo/ Estatutário,janeiro,2018,AGENTE COMUNITÁRIO DE SAÚDE,1014.0,304.20,0.00,1318.20
1,ABIGAIL OLIVEIRA DOS SANTOS,9929,Cargo Efetivo/ Estatutário,janeiro,2018,AGENTE DE LIMPEZA,954.0,47.70,0.00,1001.70
2,ABRAHAO SILVA MAIA,8063,Cargo Efetivo/ Estatutário,janeiro,2018,GUARDA MUNICIPAL,995.0,298.50,467.65,1761.15
3,ADAIL SANTOS DE JESUS,510,Cargo Efetivo/ Estatutário,janeiro,2018,AGENTE DE SERVIÇO,0.0,390.42,0.00,390.42
4,ADAIL SANTOS DE JESUS,510,Cargo Efetivo/ Estatutário,janeiro,2018,AGENTE DE SERVIÇO,954.0,286.20,0.00,1240.20

In [7]:
import openpyxl
df = pd.read_csv('dados-limpos/' + mes + '-2018-limpo.csv')
df.to_excel('dados-limpos/xlsx/' + mes + '-2018-xlsx.xlsx', index=False, encoding='utf-8')