In [78]:
#Importando biblioteca para trabalhar
import pandas as pd
import numpy as np 

mes = 'dez'
df_mes = pd.read_csv(mes + '.csv', encoding='latin-1', decimal=',')
#df_mes = df_mes.drop(['Unnamed: 7'], axis=1)
df_mes.head()

,Nome,Matrícula,Tipo Servidor,Cargo,Salário Base,Salário Vantagens,Salário Gratificação
0,ABIGAIL DONATA ALVES,1951,Cargo Efetivo/ Estatutário,AGENTE COMUNITÁRIO DE SAÚDE,"R$ 1.014,00","R$ 253,50","R$ 0,00"
1,ABIGAIL OLIVEIRA DOS SANTOS,9929,Cargo Efetivo/ Estatutário,AGENTE DE LIMPEZA,"R$ 880,00","R$ 44,00","R$ 0,00"
2,ABRAHAO SILVA MAIA,8063,Cargo Efetivo/ Estatutário,GUARDA MUNICIPAL,"R$ 881,72","R$ 264,51","R$ 220,43"
3,ABRAHAO SILVA MAIA,8063,Cargo Efetivo/ Estatutário,GUARDA MUNICIPAL,"R$ 0,00","R$ 0,00","R$ 0,00"
4,ADAIL SANTOS DE JESUS,510,Cargo Efetivo/ Estatutário,AGENTE DE SERVIÇO,"R$ 880,00","R$ 220,00","R$ 0,00"

In [79]:


df_mes['Salário Base'] = df_mes['Salário Base'].apply(lambda x: x.split('R$')[1])
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].apply(lambda x: x.split('R$')[1])
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].apply(lambda x: x.split('R$')[1])

df_mes['Salário Base'] = df_mes['Salário Base'].apply(lambda x: x.split()[0].replace('.', ''))
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].apply(lambda x: x.split()[0].replace('.', ''))
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].apply(lambda x: x.split()[0].replace('.', ''))

df_mes['Salário Base'] = df_mes['Salário Base'].str.replace(',', '.').astype(float)
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].str.replace(',', '.').astype(float)
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].str.replace(',', '.').astype(float)

lista_colunas_sum = ['Salário Base', 'Salário Vantagens', 'Salário Gratificação']
df_mes['Valor Recebido'] = df_mes.loc[:,lista_colunas_sum].sum(axis=1)
df_mes.head()

,Nome,Matrícula,Tipo Servidor,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABIGAIL DONATA ALVES,1951,Cargo Efetivo/ Estatutário,AGENTE COMUNITÁRIO DE SAÚDE,1014.00,253.50,0.00,1267.50
1,ABIGAIL OLIVEIRA DOS SANTOS,9929,Cargo Efetivo/ Estatutário,AGENTE DE LIMPEZA,880.00,44.00,0.00,924.00
2,ABRAHAO SILVA MAIA,8063,Cargo Efetivo/ Estatutário,GUARDA MUNICIPAL,881.72,264.51,220.43,1366.66
3,ABRAHAO SILVA MAIA,8063,Cargo Efetivo/ Estatutário,GUARDA MUNICIPAL,0.00,0.00,0.00,0.00
4,ADAIL SANTOS DE JESUS,510,Cargo Efetivo/ Estatutário,AGENTE DE SERVIÇO,880.00,220.00,0.00,1100.00

In [80]:
df_mes.insert(loc=3, 
             column = 'Mês',
             value = 'dezembro')

df_mes.head()

,Nome,Matrícula,Tipo Servidor,Mês,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABIGAIL DONATA ALVES,1951,Cargo Efetivo/ Estatutário,dezembro,AGENTE COMUNITÁRIO DE SAÚDE,1014.00,253.50,0.00,1267.50
1,ABIGAIL OLIVEIRA DOS SANTOS,9929,Cargo Efetivo/ Estatutário,dezembro,AGENTE DE LIMPEZA,880.00,44.00,0.00,924.00
2,ABRAHAO SILVA MAIA,8063,Cargo Efetivo/ Estatutário,dezembro,GUARDA MUNICIPAL,881.72,264.51,220.43,1366.66
3,ABRAHAO SILVA MAIA,8063,Cargo Efetivo/ Estatutário,dezembro,GUARDA MUNICIPAL,0.00,0.00,0.00,0.00
4,ADAIL SANTOS DE JESUS,510,Cargo Efetivo/ Estatutário,dezembro,AGENTE DE SERVIÇO,880.00,220.00,0.00,1100.00

In [81]:
df_mes.insert(loc=4, 
             column = 'Ano',
             value = '2016')

df_mes.head()

,Nome,Matrícula,Tipo Servidor,Mês,Ano,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABIGAIL DONATA ALVES,1951,Cargo Efetivo/ Estatutário,dezembro,2016,AGENTE COMUNITÁRIO DE SAÚDE,1014.00,253.50,0.00,1267.50
1,ABIGAIL OLIVEIRA DOS SANTOS,9929,Cargo Efetivo/ Estatutário,dezembro,2016,AGENTE DE LIMPEZA,880.00,44.00,0.00,924.00
2,ABRAHAO SILVA MAIA,8063,Cargo Efetivo/ Estatutário,dezembro,2016,GUARDA MUNICIPAL,881.72,264.51,220.43,1366.66
3,ABRAHAO SILVA MAIA,8063,Cargo Efetivo/ Estatutário,dezembro,2016,GUARDA MUNICIPAL,0.00,0.00,0.00,0.00
4,ADAIL SANTOS DE JESUS,510,Cargo Efetivo/ Estatutário,dezembro,2016,AGENTE DE SERVIÇO,880.00,220.00,0.00,1100.00

In [82]:
df_mes.to_csv('dados-limpos/' + mes + '-2016-limpo.csv', index=False, encoding='utf-8')

In [83]:
df = pd.read_csv('dados-limpos/' + mes + '-2016-limpo.csv')
df.head()

,Nome,Matrícula,Tipo Servidor,Mês,Ano,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABIGAIL DONATA ALVES,1951,Cargo Efetivo/ Estatutário,dezembro,2016,AGENTE COMUNITÁRIO DE SAÚDE,1014.00,253.50,0.00,1267.50
1,ABIGAIL OLIVEIRA DOS SANTOS,9929,Cargo Efetivo/ Estatutário,dezembro,2016,AGENTE DE LIMPEZA,880.00,44.00,0.00,924.00
2,ABRAHAO SILVA MAIA,8063,Cargo Efetivo/ Estatutário,dezembro,2016,GUARDA MUNICIPAL,881.72,264.51,220.43,1366.66
3,ABRAHAO SILVA MAIA,8063,Cargo Efetivo/ Estatutário,dezembro,2016,GUARDA MUNICIPAL,0.00,0.00,0.00,0.00
4,ADAIL SANTOS DE JESUS,510,Cargo Efetivo/ Estatutário,dezembro,2016,AGENTE DE SERVIÇO,880.00,220.00,0.00,1100.00

In [84]:
import openpyxl
df = pd.read_csv('dados-limpos/' + mes + '-2016-limpo.csv')
df.to_excel('dados-limpos/xlsx/' + mes + '-2016-xlsx.xlsx', index=False, encoding='utf-8')