In [9]:
#Importando biblioteca para trabalhar
import pandas as pd
import numpy as np 
df_mes = pd.read_csv('fev.csv', encoding='latin-1', decimal=',')
#df_mes = df_mes.drop(['Unnamed: 7'], axis=1)
df_mes.head()

,Nome,Matrícula,Tipo Servidor,Cargo,Salário Base,Salário Vantagens,Salário Gratificação
0,ABEL MACEDO DE JESUS,157,Cargo Efetivo/ Estatutário,AGENTE DE SEGURANÇA,"R$ 937,00","R$ 562,20","R$ 0,00"
1,ADEMILTON SANTANA DE MIRANDA,156,Agente Político,VEREADOR,"R$ 8.000,00","R$ 0,00","R$ 0,00"
2,ANE LUISE REIS DE SANTANA MACEDO,111,Cargo Efetivo/ Estatutário,RECEPCIONISTA,"R$ 937,00","R$ 46,85","R$ 0,00"
3,ARGEMIRA SANTOS DE JESUS,54,Servidor Temporario,Serviços Gerais,"R$ 620,40","R$ 612,15","R$ 0,00"
4,ATEVALDO DE JESUS DAMASCENO,182,Cargo Comissionado,CHEFE DE TRANSPORTE,"R$ 1.200,00","R$ 0,00","R$ 0,00"

In [3]:


df_mes['Salário Base'] = df_mes['Salário Base'].apply(lambda x: x.split('R$')[1])
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].apply(lambda x: x.split('R$')[1])
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].apply(lambda x: x.split('R$')[1])

df_mes['Salário Base'] = df_mes['Salário Base'].apply(lambda x: x.split()[0].replace('.', ''))
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].apply(lambda x: x.split()[0].replace('.', ''))
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].apply(lambda x: x.split()[0].replace('.', ''))

df_mes['Salário Base'] = df_mes['Salário Base'].str.replace(',', '.').astype(float)
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].str.replace(',', '.').astype(float)
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].str.replace(',', '.').astype(float)

lista_colunas_sum = ['Salário Base', 'Salário Vantagens', 'Salário Gratificação']
df_mes['Valor Recebido'] = df_mes.loc[:,lista_colunas_sum].sum(axis=1)
df_mes.head()

,Nome,Matrícula,Tipo Servidor,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABEL MACEDO DE JESUS,157,Cargo Efetivo/ Estatutário,AGENTE DE SEGURANÇA,937.0,562.20,0.0,1499.20
1,ADEMILTON SANTANA DE MIRANDA,156,Agente Político,VEREADOR,8000.0,0.00,0.0,8000.00
2,ANE LUISE REIS DE SANTANA MACEDO,111,Cargo Efetivo/ Estatutário,RECEPCIONISTA,937.0,46.85,0.0,983.85
3,ARGEMIRA SANTOS DE JESUS,54,Servidor Temporario,Serviços Gerais,620.4,612.15,0.0,1232.55
4,BELMIRO FERREIRA DA SILVA,172,Agente Político,VEREADOR,8000.0,0.00,0.0,8000.00

In [4]:
df_mes.insert(loc=3, 
             column = 'Mês',
             value = 'janeiro')

df_mes.head()

,Nome,Matrícula,Tipo Servidor,Mês,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABEL MACEDO DE JESUS,157,Cargo Efetivo/ Estatutário,janeiro,AGENTE DE SEGURANÇA,937.0,562.20,0.0,1499.20
1,ADEMILTON SANTANA DE MIRANDA,156,Agente Político,janeiro,VEREADOR,8000.0,0.00,0.0,8000.00
2,ANE LUISE REIS DE SANTANA MACEDO,111,Cargo Efetivo/ Estatutário,janeiro,RECEPCIONISTA,937.0,46.85,0.0,983.85
3,ARGEMIRA SANTOS DE JESUS,54,Servidor Temporario,janeiro,Serviços Gerais,620.4,612.15,0.0,1232.55
4,BELMIRO FERREIRA DA SILVA,172,Agente Político,janeiro,VEREADOR,8000.0,0.00,0.0,8000.00

In [5]:
df_mes.insert(loc=4, 
             column = 'Ano',
             value = '2017')

df_mes.head()

,Nome,Matrícula,Tipo Servidor,Mês,Ano,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABEL MACEDO DE JESUS,157,Cargo Efetivo/ Estatutário,janeiro,2017,AGENTE DE SEGURANÇA,937.0,562.20,0.0,1499.20
1,ADEMILTON SANTANA DE MIRANDA,156,Agente Político,janeiro,2017,VEREADOR,8000.0,0.00,0.0,8000.00
2,ANE LUISE REIS DE SANTANA MACEDO,111,Cargo Efetivo/ Estatutário,janeiro,2017,RECEPCIONISTA,937.0,46.85,0.0,983.85
3,ARGEMIRA SANTOS DE JESUS,54,Servidor Temporario,janeiro,2017,Serviços Gerais,620.4,612.15,0.0,1232.55
4,BELMIRO FERREIRA DA SILVA,172,Agente Político,janeiro,2017,VEREADOR,8000.0,0.00,0.0,8000.00

In [6]:
df_mes.to_csv('dados-limpos/jan-2017-limpo.csv', index=False, encoding='utf-8')

In [7]:
df = pd.read_csv('dados-limpos/jan-2017-limpo.csv')
df.head()

,Nome,Matrícula,Tipo Servidor,Mês,Ano,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABEL MACEDO DE JESUS,157,Cargo Efetivo/ Estatutário,janeiro,2017,AGENTE DE SEGURANÇA,937.0,562.20,0.0,1499.20
1,ADEMILTON SANTANA DE MIRANDA,156,Agente Político,janeiro,2017,VEREADOR,8000.0,0.00,0.0,8000.00
2,ANE LUISE REIS DE SANTANA MACEDO,111,Cargo Efetivo/ Estatutário,janeiro,2017,RECEPCIONISTA,937.0,46.85,0.0,983.85
3,ARGEMIRA SANTOS DE JESUS,54,Servidor Temporario,janeiro,2017,Serviços Gerais,620.4,612.15,0.0,1232.55
4,BELMIRO FERREIRA DA SILVA,172,Agente Político,janeiro,2017,VEREADOR,8000.0,0.00,0.0,8000.00

In [8]:
import openpyxl
df = pd.read_csv('dados-limpos/jan-2017-limpo.csv')
df.to_excel('dados-limpos/xlsx/jan-2017-xlsx.xlsx', index=False, encoding='utf-8')