In [35]:
#Importando biblioteca para trabalhar
import pandas as pd
import numpy as np 
import openpyxl
import time 

mes = 'dez'
ano = '2012'

if mes == 'jan':
    nome_mes = 'janeiro'
elif mes == 'fev': 
    nome_mes = 'fevereiro'
elif mes == 'mar':
    nome_mes = 'março'
elif mes == 'abr':
    nome_mes = 'abril'
elif mes == 'mai':
    nome_mes = 'maio'
elif mes == 'jun':
    nome_mes = 'junho'
elif mes == 'jul':
    nome_mes = 'julho'
elif mes == 'ago': 
    nome_mes = 'agosto'
elif mes == 'set':
    nome_mes = 'setembro'
elif mes == 'out':
    nome_mes = 'outubro'
elif mes == 'nov': 
    nome_mes = 'novembro'
elif mes == 'dez': 
    nome_mes = 'dezembro'

df_mes = pd.read_csv(mes + '.csv', encoding='latin-1', decimal=',')
#df_mes = df_mes.drop(['Unnamed: 7'], axis=1)
time.sleep(2)
df_mes.head()

,Nome,Matrícula,Tipo Servidor,Cargo,Salário Base,Salário Vantagens,Salário Gratificação
0,ABEL MACEDO DE JESUS,10370,Cargo Efetivo/ Estatutário,AUX. DE SERV. GERAIS,"R$ 622,00","R$ 0,00","R$ 0,00"
1,ABEL MACEDO DE JESUS,10370,Cargo Efetivo/ Estatutário,AUX. DE SERV. GERAIS,"R$ 0,00","R$ 0,00","R$ 0,00"
2,ABEL MARCOS DOS SANTOS,10284,Cargo Efetivo/ Estatutário,PROFESSOR NIVEL I,"R$ 1.250,83","R$ 62,54","R$ 0,00"
3,ABIGAIL DONATA ALVES,1951,Cargo Efetivo/ Estatutário,AGENTE COMUNITÁRIO DE SAÚDE,"R$ 750,40","R$ 187,60","R$ 0,00"
4,ABIGAIL DONATA ALVES,1951,Cargo Efetivo/ Estatutário,AGENTE COMUNITÁRIO DE SAÚDE,"R$ 0,00","R$ 0,00","R$ 0,00"

In [36]:


df_mes['Salário Base'] = df_mes['Salário Base'].apply(lambda x: x.split('R$')[1])
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].apply(lambda x: x.split('R$')[1])
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].apply(lambda x: x.split('R$')[1])

df_mes['Salário Base'] = df_mes['Salário Base'].apply(lambda x: x.split()[0].replace('.', ''))
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].apply(lambda x: x.split()[0].replace('.', ''))
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].apply(lambda x: x.split()[0].replace('.', ''))

df_mes['Salário Base'] = df_mes['Salário Base'].str.replace(',', '.').astype(float)
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].str.replace(',', '.').astype(float)
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].str.replace(',', '.').astype(float)

lista_colunas_sum = ['Salário Base', 'Salário Vantagens', 'Salário Gratificação']
df_mes['Valor Recebido'] = df_mes.loc[:,lista_colunas_sum].sum(axis=1)

time.sleep(2) 

df_mes.insert(loc=3, 
             column = 'Mês',
             value = nome_mes)
time.sleep(2)
df_mes.insert(loc=4, 
             column = 'Ano',
             value = ano)

df_mes.head()

,Nome,Matrícula,Tipo Servidor,Mês,Ano,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABEL MACEDO DE JESUS,10370,Cargo Efetivo/ Estatutário,dezembro,2012,AUX. DE SERV. GERAIS,622.00,0.00,0.0,622.00
1,ABEL MACEDO DE JESUS,10370,Cargo Efetivo/ Estatutário,dezembro,2012,AUX. DE SERV. GERAIS,0.00,0.00,0.0,0.00
2,ABEL MARCOS DOS SANTOS,10284,Cargo Efetivo/ Estatutário,dezembro,2012,PROFESSOR NIVEL I,1250.83,62.54,0.0,1313.37
3,ABIGAIL DONATA ALVES,1951,Cargo Efetivo/ Estatutário,dezembro,2012,AGENTE COMUNITÁRIO DE SAÚDE,750.40,187.60,0.0,938.00
4,ABIGAIL DONATA ALVES,1951,Cargo Efetivo/ Estatutário,dezembro,2012,AGENTE COMUNITÁRIO DE SAÚDE,0.00,0.00,0.0,0.00

In [37]:
df_mes.to_csv('dados-limpos/' + mes + '-2012-limpo.csv', index=False, encoding='utf-8')
time.sleep(3) 
df = pd.read_csv('dados-limpos/' + mes + '-2012-limpo.csv')
df.to_excel('dados-limpos/xlsx/' + mes + '-2012-xlsx.xlsx', index=False, encoding='utf-8')