In [34]:
#Importando biblioteca para trabalhar
import pandas as pd
import numpy as np 
import openpyxl
import time 

mes = 'dez'
ano = '2014'

if mes == 'jan':
    nome_mes = 'janeiro'
elif mes == 'fev': 
    nome_mes = 'fevereiro'
elif mes == 'mar':
    nome_mes = 'março'
elif mes == 'abr':
    nome_mes = 'abril'
elif mes == 'mai':
    nome_mes = 'maio'
elif mes == 'jun':
    nome_mes = 'junho'
elif mes == 'jul':
    nome_mes = 'julho'
elif mes == 'ago': 
    nome_mes = 'agosto'
elif mes == 'set':
    nome_mes = 'setembro'
elif mes == 'out':
    nome_mes = 'outubro'
elif mes == 'nov': 
    nome_mes = 'novembro'
elif mes == 'dez': 
    nome_mes = 'dezembro'

df_mes = pd.read_csv(mes + '.csv', encoding='latin-1', decimal=',')
#df_mes = df_mes.drop(['Unnamed: 7'], axis=1)
df_mes.head()

,Nome,Matrícula,Tipo Servidor,Cargo,Salário Base,Salário Vantagens,Salário Gratificação
0,ABIGAIL DONATA ALVES,1951,Cargo Efetivo/ Estatutário,AGENTE COMUNITÁRIO DE SAÚDE,"R$ 912,60","R$ 228,15","R$ 0,00"
1,ABIGAIL OLIVEIRA DOS SANTOS,9929,Cargo Efetivo/ Estatutário,AGENTE DE LIMPEZA,"R$ 724,00","R$ 0,00","R$ 0,00"
2,ABRAAO LEITE DA SILVA,11308,Cargo Comissionado,SUPERVISOR(A) DE ENSINO,"R$ 0,00","R$ 0,00","R$ 0,00"
3,ABRAAO LEITE DA SILVA,11308,Cargo Comissionado,SUPERVISOR(A) DE ENSINO,"R$ 724,00","R$ 0,00","R$ 181,00"
4,ABRAHAO SILVA MAIA,8063,Cargo Efetivo/ Estatutário,GUARDA MUNICIPAL,"R$ 881,72","R$ 176,35","R$ 308,60"

In [35]:


df_mes['Salário Base'] = df_mes['Salário Base'].apply(lambda x: x.split('R$')[1])
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].apply(lambda x: x.split('R$')[1])
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].apply(lambda x: x.split('R$')[1])

df_mes['Salário Base'] = df_mes['Salário Base'].apply(lambda x: x.split()[0].replace('.', ''))
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].apply(lambda x: x.split()[0].replace('.', ''))
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].apply(lambda x: x.split()[0].replace('.', ''))

df_mes['Salário Base'] = df_mes['Salário Base'].str.replace(',', '.').astype(float)
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].str.replace(',', '.').astype(float)
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].str.replace(',', '.').astype(float)

lista_colunas_sum = ['Salário Base', 'Salário Vantagens', 'Salário Gratificação']
df_mes['Valor Recebido'] = df_mes.loc[:,lista_colunas_sum].sum(axis=1)

time.sleep(2) 

df_mes.insert(loc=3, 
             column = 'Mês',
             value = nome_mes)
time.sleep(2)
df_mes.insert(loc=4, 
             column = 'Ano',
             value = ano)

df_mes.head()

,Nome,Matrícula,Tipo Servidor,Mês,Ano,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABIGAIL DONATA ALVES,1951,Cargo Efetivo/ Estatutário,dezembro,2014,AGENTE COMUNITÁRIO DE SAÚDE,912.60,228.15,0.0,1140.75
1,ABIGAIL OLIVEIRA DOS SANTOS,9929,Cargo Efetivo/ Estatutário,dezembro,2014,AGENTE DE LIMPEZA,724.00,0.00,0.0,724.00
2,ABRAAO LEITE DA SILVA,11308,Cargo Comissionado,dezembro,2014,SUPERVISOR(A) DE ENSINO,0.00,0.00,0.0,0.00
3,ABRAAO LEITE DA SILVA,11308,Cargo Comissionado,dezembro,2014,SUPERVISOR(A) DE ENSINO,724.00,0.00,181.0,905.00
4,ABRAHAO SILVA MAIA,8063,Cargo Efetivo/ Estatutário,dezembro,2014,GUARDA MUNICIPAL,881.72,176.35,308.6,1366.67

In [36]:
df_mes.to_csv('dados-limpos/' + mes + '-2014-limpo.csv', index=False, encoding='utf-8')
time.sleep(3) 
df = pd.read_csv('dados-limpos/' + mes + '-2014-limpo.csv')
df.to_excel('dados-limpos/xlsx/' + mes + '-2014-xlsx.xlsx', index=False, encoding='utf-8')