In [2]:
#Importando biblioteca para trabalhar
import pandas as pd
import numpy as np 

mes = 'out'
df_mes = pd.read_csv(mes + '.csv', encoding='latin-1', decimal=',')
#df_mes = df_mes.drop(['Unnamed: 7'], axis=1)
df_mes.head()

,Nome,Matrícula,Tipo Servidor,Cargo,Salário Base,Salário Vantagens,Salário Gratificação
0,ABIGAIL DONATA ALVES,1951,Cargo Efetivo/ Estatutário,AGENTE COMUNITÁRIO DE SAÚDE,"R$ 1.250,00","R$ 375,00","R$ 0,00"
1,ABIGAIL OLIVEIRA DOS SANTOS,9929,Cargo Efetivo/ Estatutário,AGENTE DE LIMPEZA,"R$ 998,00","R$ 49,90","R$ 0,00"
2,ABRAHAO SILVA MAIA,8063,Cargo Efetivo/ Estatutário,GUARDA MUNICIPAL,"R$ 1.128,75","R$ 573,25","R$ 507,94"
3,ADAILTON ANDRADE DE SOUZA,2135,Cargo Efetivo/ Estatutário,GUARDA MUNICIPAL,"R$ 1.128,75","R$ 399,00","R$ 733,69"
4,ADAILTON CAVALCANTE DE MOURA,10651,Cargo Efetivo/ Estatutário,GUARDA MUNICIPAL,"R$ 1.128,75","R$ 497,12","R$ 451,50"

In [3]:


df_mes['Salário Base'] = df_mes['Salário Base'].apply(lambda x: x.split('R$')[1])
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].apply(lambda x: x.split('R$')[1])
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].apply(lambda x: x.split('R$')[1])

df_mes['Salário Base'] = df_mes['Salário Base'].apply(lambda x: x.split()[0].replace('.', ''))
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].apply(lambda x: x.split()[0].replace('.', ''))
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].apply(lambda x: x.split()[0].replace('.', ''))

df_mes['Salário Base'] = df_mes['Salário Base'].str.replace(',', '.').astype(float)
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].str.replace(',', '.').astype(float)
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].str.replace(',', '.').astype(float)

lista_colunas_sum = ['Salário Base', 'Salário Vantagens', 'Salário Gratificação']
df_mes['Valor Recebido'] = df_mes.loc[:,lista_colunas_sum].sum(axis=1)
df_mes.head()

,Nome,Matrícula,Tipo Servidor,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABIGAIL DONATA ALVES,1951,Cargo Efetivo/ Estatutário,AGENTE COMUNITÁRIO DE SAÚDE,1250.00,375.00,0.00,1625.00
1,ABIGAIL OLIVEIRA DOS SANTOS,9929,Cargo Efetivo/ Estatutário,AGENTE DE LIMPEZA,998.00,49.90,0.00,1047.90
2,ABRAHAO SILVA MAIA,8063,Cargo Efetivo/ Estatutário,GUARDA MUNICIPAL,1128.75,573.25,507.94,2209.94
3,ADAILTON ANDRADE DE SOUZA,2135,Cargo Efetivo/ Estatutário,GUARDA MUNICIPAL,1128.75,399.00,733.69,2261.44
4,ADAILTON CAVALCANTE DE MOURA,10651,Cargo Efetivo/ Estatutário,GUARDA MUNICIPAL,1128.75,497.12,451.50,2077.37

In [4]:
df_mes.insert(loc=3, 
             column = 'Mês',
             value = 'outubro')

df_mes.head()

,Nome,Matrícula,Tipo Servidor,Mês,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABIGAIL DONATA ALVES,1951,Cargo Efetivo/ Estatutário,outubro,AGENTE COMUNITÁRIO DE SAÚDE,1250.00,375.00,0.00,1625.00
1,ABIGAIL OLIVEIRA DOS SANTOS,9929,Cargo Efetivo/ Estatutário,outubro,AGENTE DE LIMPEZA,998.00,49.90,0.00,1047.90
2,ABRAHAO SILVA MAIA,8063,Cargo Efetivo/ Estatutário,outubro,GUARDA MUNICIPAL,1128.75,573.25,507.94,2209.94
3,ADAILTON ANDRADE DE SOUZA,2135,Cargo Efetivo/ Estatutário,outubro,GUARDA MUNICIPAL,1128.75,399.00,733.69,2261.44
4,ADAILTON CAVALCANTE DE MOURA,10651,Cargo Efetivo/ Estatutário,outubro,GUARDA MUNICIPAL,1128.75,497.12,451.50,2077.37

In [5]:
df_mes.insert(loc=4, 
             column = 'Ano',
             value = '2019')

df_mes.head()

,Nome,Matrícula,Tipo Servidor,Mês,Ano,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABIGAIL DONATA ALVES,1951,Cargo Efetivo/ Estatutário,outubro,2019,AGENTE COMUNITÁRIO DE SAÚDE,1250.00,375.00,0.00,1625.00
1,ABIGAIL OLIVEIRA DOS SANTOS,9929,Cargo Efetivo/ Estatutário,outubro,2019,AGENTE DE LIMPEZA,998.00,49.90,0.00,1047.90
2,ABRAHAO SILVA MAIA,8063,Cargo Efetivo/ Estatutário,outubro,2019,GUARDA MUNICIPAL,1128.75,573.25,507.94,2209.94
3,ADAILTON ANDRADE DE SOUZA,2135,Cargo Efetivo/ Estatutário,outubro,2019,GUARDA MUNICIPAL,1128.75,399.00,733.69,2261.44
4,ADAILTON CAVALCANTE DE MOURA,10651,Cargo Efetivo/ Estatutário,outubro,2019,GUARDA MUNICIPAL,1128.75,497.12,451.50,2077.37

In [6]:
df_mes.to_csv('dados-limpos/' + mes + '-2019-limpo.csv', index=False, encoding='utf-8')

In [7]:
df = pd.read_csv('dados-limpos/' + mes + '-2019-limpo.csv')
df.head()

,Nome,Matrícula,Tipo Servidor,Mês,Ano,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABIGAIL DONATA ALVES,1951,Cargo Efetivo/ Estatutário,outubro,2019,AGENTE COMUNITÁRIO DE SAÚDE,1250.00,375.00,0.00,1625.00
1,ABIGAIL OLIVEIRA DOS SANTOS,9929,Cargo Efetivo/ Estatutário,outubro,2019,AGENTE DE LIMPEZA,998.00,49.90,0.00,1047.90
2,ABRAHAO SILVA MAIA,8063,Cargo Efetivo/ Estatutário,outubro,2019,GUARDA MUNICIPAL,1128.75,573.25,507.94,2209.94
3,ADAILTON ANDRADE DE SOUZA,2135,Cargo Efetivo/ Estatutário,outubro,2019,GUARDA MUNICIPAL,1128.75,399.00,733.69,2261.44
4,ADAILTON CAVALCANTE DE MOURA,10651,Cargo Efetivo/ Estatutário,outubro,2019,GUARDA MUNICIPAL,1128.75,497.12,451.50,2077.37

In [8]:
import openpyxl
df = pd.read_csv('dados-limpos/' + mes + '-2019-limpo.csv')
df.to_excel('dados-limpos/xlsx/' + mes + '-2019-xlsx.xlsx', index=False, encoding='utf-8')